<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick n' Pay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* General Reset */
        body, h5 {
            margin: 0;
            padding: 0;
        }

        /* Navbar Styles */
        .navbar {
            background-color: #543A14;
            position: fixed !important;
            top:0;
            left: 0;
            width:100%;
            z-index:999;
        }

        .navbar-brand img {
            height: 75px;
            width: 75px;
        }

        .navbar-nav .nav-link {
            color: #FFF0DC;
        }

        .navbar-nav .nav-link:hover {
            color: #D59C58;
        }

        #navele h5 {
            margin-left: 47px;
            font-size: 1rem;
            color: #FFF0DC;
            transition: font-size 0.3s ease, color 0.3s ease;
        }

        #navele h5:hover {
            font-size: 1.5rem;
            color: black;
        }

        body {
            background-color: #F0BB78;
        }

        /* Card Styles */
        .card-container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
            gap: 20px;
        }

        #carda2 {
            border-radius: 47px;
            transition: transform 0.3s ease, border-radius 0.3s ease;
            overflow: hidden; /* Prevents image overflow */
        }

        #carda2:hover {
            border-radius: 74px;
            transform: scale(1.1);
        }

        .card-body h4 {
            color: #543A14;
        }

        /* Image Transition */
        .card img {
            transition: transform 0.3s ease; /* Smooth transition on hover */
        }

        /* Prevent horizontal overflow */
        * {
            overflow-x: hidden;
        }

        
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img class="rounded-pill" src="{{ url_for('static', filename='Indi Logo.png') }}" alt="Logo">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a id="navele" class="nav-link" href="{{ url_for('home') }}" ><h5 style="font-size: larger;text-decoration:underline;">Home</h5></a></li>
                    <li class="nav-item"><a id="navele" class="nav-link" href="{{ url_for('contactUs') }}"><h5>Contact US</h5></a></li>
                    <li class="nav-item"><a id="navele" class="nav-link" href="{{ url_for('login') }}"><h5>Log In</h5></a></li>
                    <li class="nav-item">
                        <a id="navele" class="nav-link" href="cart.html"><h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg></h5></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div style="margin-top:50px;"></div>



    <div id="carda2" class="card d-flex flex-row align-items-center position-relative" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">

        <!-- Plus Icon -->
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
        <!-- Card Content -->
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer1.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
                <h4 style="color: #543A14; text-align: center;font-weight: 700;">
                    <svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                    </svg>1999(Pair)
                    <h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2299</h5>
                    <h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5>
                </h4>
            </div>
        </div>
    </div>
    

    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
        
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
        
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer2.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
            <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
              </svg>2175(Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2899</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>

    

    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
           
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
    
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer3.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
                <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                  </svg>2199(Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2599</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>


    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
           
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
    
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer4.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
                <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                  </svg>2199 (Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2599</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>


    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
           
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
    
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer5.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
                <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                  </svg>2199(Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2599</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>


    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
           
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
    
        <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer6.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
                <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                  </svg>3299 (Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">3999</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>



    <div id="carda2" class="card d-flex flex-row align-items-center" style="width: 800px; height: 400px; margin-top: 100px; margin-left: 47px; padding: 20px;">
                  
        <a href="#" class="position-absolute" style="top: 10px; right: 10px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path stroke="#543A14" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
        </a>
    
     <img style="height: 300px; width: 275px; margin:20px;" src="static/womensummer7.jpeg" class="card-img-top" alt="shirts">
        <div class="card-body">
            <h4 style="color: #543A14; text-align: center;">Women Summer Outfit</h4>
            <br>
            <div class="d-flex" style="margin-left:87px;">
            <h4 style="color: #543A14; text-align: center;font-weight: 700;"><svg style="margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
              </svg>1999(Pair)<h5 style="text-decoration: line-through;font-weight: lighter; margin-left:10px;margin-top:2px;">2499</h5><h5 style="color: #D59C58;margin-left:7px;">(25% Off)</h5></div>
        </div>
    </div>

    <a style="text-decoration: none;" href="{{url_for('womensummer') }}"><button style="margin-top:40px;margin-bottom:40px;" class="mx-auto d-flex"> Go To Top</button></a>
    

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>